In [1]:
from sqlalchemy import  create_engine, Column, Integer, String, Date,Table
from sqlalchemy.ext.declarative import declarative_base
import pandas as pd
import sqlalchemy
import requests
from datetime import datetime

Base=declarative_base()
class MediaDetails(Base):
        engine = create_engine("mysql+mysqlconnector://root:root@localhost:3306/mediadb")
        conn= engine.connect()
  

        Id= Column(String(50),primary_key=True)
        Title = Column(String(50))
        Release_year = Column(Integer())
        Genres = Column(String(50))
        Description = Column(String(100))
        Theatre = Column(String(100))

        __tablename__ = "tv_Movies"
        Id= Column(String(50),primary_key=True)
        Title = Column(String(50))
        Release_year = Column(Integer())
        Genres = Column(String(50))
        Description = Column(String(100))
        Channel= Column(String(100))

        Base.metadata.create_all(engine)
        line_up_id="USA-TX42500-X"
        date_time=datetime.now().isoformat()

        req1= requests.get("http://data.tmsapi.com/v1.1/movies/showings?startDate=2020-10-29&zip=78701&api_key=qu2a3vcggtdmxm88c4fjpsmj")
        req2 = requests.get("http://data.tmsapi.com/v1.1/movies/airings?lineupId=USA-TX42500-X&startDateTime=2020-10-29T17%3A30Z&endDateTime=2020-10-29&api_key=qu2a3vcggtdmxm88c4fjpsmj")
        print(req1.status_code)
        if req1.status_code==200:
            values=req1.json()
            df1=pd.DataFrame.form_records(values)
            print(df1)
   
        if req2.status_code==200:
            values=req2.json()
           # conn.execute(tv_Movies.insert(),values)
       

        Session = sqlalchemy.orm.sessionmaker()
        Session.configure(bind=engine)
        session = Session()
        session.commit()

403

In [101]:
import pandas as pd
df1=pd.read_json("theatreMovies.json")
df2=pd.read_json("tvMoviesResp.json")

In [102]:
df1

,tmsId,rootId,subType,title,releaseYear,releaseDate,titleLang,descriptionLang,entityType,genres,...,runTime,preferredImage,showtimes,officialUrl,qualityRating,ratings,advisories,audience,animation,holiday
0,MV011727750000,15678713,Feature Film,Turtle Odyssey,2018.0,2018,en-AU,en,Movie,[Documentary],...,PT00H45M,{'uri': 'tvbanners/generic/generic_tvbanners_v...,"[{'theatre': {'id': '4604', 'name': 'Bullock M...",NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,MV013787510000,17905855,Feature Film,Into America's Wild,2020.0,2020,en,en,Movie,[Documentary],...,PT00H45M,"{'width': '240', 'height': '360', 'uri': 'asse...","[{'theatre': {'id': '4604', 'name': 'Bullock M...",NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,MV013618560000,17758177,Feature Film,Tenet,2020.0,2020-08-26,en,en,Movie,"[Action, Science fiction, Thriller]",...,PT02H30M,"{'width': '240', 'height': '360', 'uri': 'asse...","[{'theatre': {'id': '5084', 'name': 'Alamo Dra...",https://www.tenetfilm.com/,"{'ratingsBody': 'TMS', 'value': '3'}",[{'body': 'Motion Picture Association of Ameri...,"[Adult Language, Adult Situations, Violence]",NaN,NaN,NaN
3,MV001067170000,27575,Feature Film,Shrek,2001.0,2001-04-22,en,en,Movie,"[Comedy, Fantasy, Animated, Children]",...,PT01H29M,"{'width': '240', 'height': '360', 'uri': 'asse...","[{'theatre': {'id': '5084', 'name': 'Alamo Dra...",http://www.shrek.com,"{'ratingsBody': 'TMS', 'value': '3.5'}",[{'body': 'Motion Picture Association of Ameri...,"[Adult Language, Adult Situations]",Children,Animated,NaN
4,MV000184260000,8572,Feature Film,A Nightmare on Elm Street,1984.0,1984-11-09,en,en,Movie,[Horror],...,PT01H31M,"{'width': '240', 'height': '360', 'uri': 'asse...","[{'theatre': {'id': '5084', 'name': 'Alamo Dra...",NaN,"{'ratingsBody': 'TMS', 'value': '3.5'}",[{'body': 'Motion Picture Association of Ameri...,"[Adult Language, Adult Situations, Brief Nudit...",NaN,NaN,NaN
5,MV000371150000,14911,Feature Film,Hocus Pocus,1993.0,1993-10-29,en,en,Movie,"[Comedy, Children]",...,PT01H35M,"{'width': '240', 'height': '360', 'uri': 'asse...","[{'theatre': {'id': '5084', 'name': 'Alamo Dra...",NaN,"{'ratingsBody': 'TMS', 'value': '2.5'}",[{'body': 'Motion Picture Association of Ameri...,"[Adult Language, Adult Situations]",Children,NaN,NaN
6,MV011728530000,15680009,Feature Film,Mandy,2018.0,2018-01-19,en,en,Movie,"[Horror, Thriller]",...,PT02H01M,"{'width': '240', 'height': '360', 'uri': 'asse...","[{'theatre': {'id': '5084', 'name': 'Alamo Dra...",https://us.rljentertainment.com/franchise/mandy/,NaN,NaN,"[Adult Language, Adult Situations, Graphic Vio...",NaN,NaN,NaN
7,MV013942100000,18082622,Feature Film,Come Play,2020.0,2020-10-30,en,en,Movie,"[Horror, Thriller]",...,NaN,"{'width': '240', 'height': '360', 'caption': {...","[{'theatre': {'id': '5084', 'name': 'Alamo Dra...",https://www.focusfeatures.com/come-play,NaN,[{'body': 'Motion Picture Association of Ameri...,"[Adult Language, Adult Situations]",NaN,NaN,NaN
8,MV000227710000,10177,Feature Film,The Lost Boys,1987.0,1987-07-31,en,en,Movie,"[Horror, Comedy]",...,PT01H37M,"{'width': '240', 'height': '360', 'uri': 'asse...","[{'theatre': {'id': '5084', 'name': 'Alamo Dra...",NaN,"{'ratingsBody': 'TMS', 'value': '3'}",[{'body': 'Motion Picture Association of Ameri...,"[Adult Language, Adult Situations, Graphic Vio...",NaN,NaN,NaN
9,MV000197500000,9070,Feature Film,The Goonies,1985.0,1985-06-07,en,en,Movie,"[Adventure, Comedy, Children]",...,PT01H51M,"{'width': '240', 'height': '360', 'uri': 'asse...","[{'theatre': {'id': '5084', 'name': 'Alamo Dra...",NaN,"{'ratingsBody': 'TMS', 'value': '3'}",[{'body': 'Motion Picture Association of Ameri...,"[Adult Language, Adult Situations, Mild Violence]",Children,NaN,NaN
10,MV000247340000,10703,Feature Film,Beetlejuice,1988.0,1988-03-30,en,en,Movie,[Comedy],...,PT01H32M,"{'width': '240', 'height': '360', 'uri': 'asse...","[{'theatre': {'id': '5084', 'name': 'Alamo Dra...",NaN,"{'ratingsBody': 'TMS', 'value': '3'}",[{'body': 'Motion Picture Association of Ameri...,"[Adult Language, Mild Violence]",NaN,NaN,NaN
11,MV000004670000,283,Feature Film,Psycho,1960.0,1960-06-16,en,en,Movie,"[Horror, Thriller]",...,PT01H49M,"{'width': '240', 'height': '360', 'uri': 'asse...","[{'theatre': {'id': '5084', 'name': 'Alamo Dra...",NaN,"{'ratingsBody': 'TMS', 'value': '4'}",[{'body': 'Motion Picture Association of Ameri...,"[Adult Situations, Violence]",NaN,NaN,NaN
12,MV013065370000,17387266,Feature Film,Synchronic,2019.0,2019-09-07,en,en,Movie,"[Science fiction, Thriller]",...,PT01H40M,"{'width': '240', 'height': '360', 'caption': {...","[{'theatre': {'id': '5084', 'name': 'Alamo Dra...",https://www.wellgousa.com/films/synchronic,NaN,[{'body': 'Motion Picture Association of Ameri...,"[Adult Language, Adult Situations, Violence]",NaN,NaN,NaN
13,MV013072000000,17395468,Feature Film,Honest Thief,2020.0,2020-09-09,en,en,Movie,"[Action, Thriller]",...,PT01H39M,"{'width': '240', 'height': '360', 'caption': {...","[{'theatre': {'id': '5320', 'name': 'AMC Barto...",NaN,NaN,[{'body': 'Motion Picture Association of Ameri...,"[Adult Language, Adult Situations, Violence]",NaN,NaN,NaN
14,MV013450420000,17628255,Feature Film,Yellow Rose,2019.0,2019-05-02,en,en,Movie,"[Drama, Music, Country]",...,PT01H35M,"{'width': '240', 'height': '360', 'uri': 'asse...","[{'theatre': {'id': '5320', 'name': 'AMC Barto...",http://www.yellowrosefilm.com/,NaN,[{'body': 'Motion Picture Association of Ameri...,"[Adult Language, Adult Situations]",NaN,NaN,NaN
15,MV000376420000,15096,Feature Film,The Nightmare Before Christmas,1993.0,1993-10-29,en,en,Movie,"[Fantasy, Comedy, Animated, Children, Holiday]",...,PT01H15M,"{'width': '240', 'height': '360', 'uri': 'asse...","[{'theatre': {'id': '5320', 'name': 'AMC Barto...",NaN,"{'ratingsBody': 'TMS', 'value': '4'}",[{'body': 'Motion Picture Association of Ameri...,"[Adult Situations, Mild Violence]",Children,Animated,Christmas
16,MV001060870000,27462,Feature Film,"Monsters, Inc.",2001.0,2001-10-28,en,en,Movie,"[Comedy, Fantasy, Adventure, Animated, Children]",...,PT01H32M,"{'width': '240', 'height': '360', 'uri': 'asse...","[{'theatre': {'id': '5320', 'name': 'AMC Barto...",http://www.monstersinc.com/,"{'ratingsBody': 'TMS', 'value': '3.5'}",[{'body': 'Motion Picture Association of Ameri...,NaN,Children,Animated,NaN
17,MV013711250000,17842770,Feature Film,The Empty Man,2020.0,2020-10-23,en,en,Movie,"[Horror, Thriller]",...,PT02H17M,"{'width': '240', 'height': '360', 'uri': 'asse...","[{'theatre': {'id': '5320', 'name': 'AMC Barto...",NaN,NaN,[{'body': 'Motion Picture Association of Ameri...,"[Adult Language, Adult Situations, Nudity, Vio...",NaN,NaN,NaN
18,MV009141240000,13107896,Feature Film,The Boss Baby,2017.0,2017-03-31,en,en,Movie,"[Comedy, Adventure, Animated, Children]",...,PT01H37M,"{'width': '240', 'height': '360', 'uri': 'asse...","[{'theatre': {'id': '5320', 'name': 'AMC Barto...",http://www.foxmovies.com/movies/the-boss-baby,"{'ratingsBody': 'TMS', 'value': '2.5'}",[{'body': 'Motion Picture Association of Ameri...,[Adult Situations],Children,Animated,NaN
19,MV015305700000,18936062,Feature Film,The Kid Detective,2020.0,2020-09-13,en,en,Movie,[Dark comedy],...,PT01H39M,"{'width': '240', 'height': '360', 'caption': {...","[{'theatre': {'id': '5320', 'name': 'AMC Barto...",NaN,NaN,[{'body': 'Motion Picture Association of Ameri...,"[Adult Language, Adult Situations, Brief Nudit...",NaN,NaN,NaN
20,MV010689130000,14939189,Feature Film,Alita: Battle Angel,2019.0,2019-02-08,en,en,Movie,"[Science fiction, Action, Adventure, Fantasy, ...",...,PT02H02M,"{'width': '240', 'height': '360', 'uri': 'asse...","[{'theatre': {'id': '5320', 'name': 'AMC Barto...",https://www.foxmovies.com/movies/alita-battle-...,"{'ratingsBody': 'TMS', 'value': '2.5'}",[{'body': 'Motion Picture Association of Ameri...,"[Adult Language, Adult Situations, Violence]",NaN,Animated,NaN
21,MV015297250000,17395468,Feature Film,Honest Thief: The IMAX 2D Experience,2020.0,2020-10-16,en,en,Movie,"[Action, Thriller]",...,PT01H39M,"{'width': '240', 'height': '360', 'caption': {...","[{'theatre': {'id': '5320', 'name': 'AMC Barto...",NaN,NaN,[{'body': 'Motion Picture Association of Ameri...,"[Adult Language, Adult Situations, Violence]",NaN,NaN,NaN
22,MV009399060000,13370112,Feature Film,The War With Grandpa,2020.0,2020-10-07,en,en,Movie,[Comedy],...,PT01H34M,"{'width': '240', 'height': '360', 'uri': 'asse...","[{'theatre': {'id': '5320', 'name': 'AMC Barto...",https://www.warwithgrandpa.com/,NaN,[{'body': 'Motion Picture Association of Ameri...,"[Adult Language, Adult Situations]",NaN,NaN,NaN
23,MV013941890000,18082004,Feature Film,Kajillionaire,2020.0,2020-01-25,en,en,Movie,[Comedy drama],...,PT01H44M,"{'width': '240', 'height': '360', 'uri': 'asse...","[{'theatre': {'id': '5320', 'name': 'AMC Barto...",https://www.focusfeatures.com/kajillionaire,"{'ratingsBody': 'TMS', 'value': '3.5'}",[{'body': 'Motion Picture Association of Ameri...,"[Adult Language, Adult Situations]",NaN,NaN,NaN
24,MV014181610000,18378295,Feature Film,2 Hearts,2020.0,2020-10-16,en,en,Movie,"[Romance, Drama]",...,PT01H40M,"{'width': '240', 'height': '360', 'uri': 'asse...","[{'theatre': {'id': '5320', 'name': 'AMC Barto...",NaN,NaN,[{'body': 'Motion Picture Association of Ameri...,"[Adult Language, Adult Situations]",NaN,NaN,NaN
25,EV000000226201,169331,Theatre Event,No Films Showing Today,NaN,NaN,en,NaN,Movie,NaN,...,NaN,{'uri': 'tvbanners/generic/generic_tvbanners_v...,"[{'theatre': {'id': '8298', 'name': 'Regal Wes...",NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [103]:
df1=df1[['title','releaseYear','genres','shortDescription','showtimes']]
df2=df2[['program','channels']]

In [104]:
df2

                                               program channels
0    {'tmsId': 'MV010921590000', 'rootId': '1522622...    [581]
1    {'tmsId': 'MV001802980000', 'rootId': '162826'...    [050]
2    {'tmsId': 'MV001802980000', 'rootId': '162826'...    [117]
3    {'tmsId': 'MV000439270000', 'rootId': '17341',...    [605]
4    {'tmsId': 'MV003677600000', 'rootId': '8774994...    [603]
..                                                 ...      ...
419  {'tmsId': 'MV002273100000', 'rootId': '182355'...    [083]
420  {'tmsId': 'MV002273100000', 'rootId': '182355'...    [632]
421  {'tmsId': 'MV003383320000', 'rootId': '16593',...    [596]
422  {'tmsId': 'MV007631040000', 'rootId': '1180613...    [535]
423  {'tmsId': 'MV003869180000', 'rootId': '9069371...    [585]

[424 rows x 2 columns]

In [105]:
dt=[]
for i in range(len(df2)):
     d={'title':df2['program'][i]['title'],'genres':df2['program'][i]['genres'],'channels':df2['channels'][i]}
     dt.append(d)

In [106]:
df3=pd.DataFrame.from_records(dt)

In [107]:
df3

,title,genres,channels
0,Once Upon a Time... In Hollywood,"[Comedy drama, Dark comedy]",[581]
1,Freedom Writers,[Drama],[050]
2,Freedom Writers,[Drama],[117]
3,The American President,"[Romance, Comedy drama]",[605]
4,Total Recall,"[Science fiction, Action, Adventure]",[603]
...,...,...,...
419,Transporter 3,[Action],[083]
420,Transporter 3,[Action],[632]
421,Texas Chainsaw Massacre: The Next Generation,[Horror],[596]
422,Crimson Peak,"[Horror, Mystery, Romance]",[535]
423,La cara oculta,[Thriller],[585]

In [108]:
df1

,title,releaseYear,genres,shortDescription,showtimes
0,Turtle Odyssey,2018.0,[Documentary],The unique life cycle of an Australian green s...,"[{'theatre': {'id': '4604', 'name': 'Bullock M..."
1,Into America's Wild,2020.0,[Documentary],Filmmaker Greg MacGillivray explores some of t...,"[{'theatre': {'id': '4604', 'name': 'Bullock M..."
2,Tenet,2020.0,"[Action, Science fiction, Thriller]","A secret agent embarks on a dangerous, time-be...","[{'theatre': {'id': '5084', 'name': 'Alamo Dra..."
3,Shrek,2001.0,"[Comedy, Fantasy, Animated, Children]",A monster (Mike Myers) and a donkey (Eddie Mur...,"[{'theatre': {'id': '5084', 'name': 'Alamo Dra..."
4,A Nightmare on Elm Street,1984.0,[Horror],"Freddy Krueger, a badly burned boogeyman with ...","[{'theatre': {'id': '5084', 'name': 'Alamo Dra..."
5,Hocus Pocus,1993.0,"[Comedy, Children]",Trick-or-treaters meet three witch sisters (Be...,"[{'theatre': {'id': '5084', 'name': 'Alamo Dra..."
6,Mandy,2018.0,"[Horror, Thriller]",A man seeks bloody vengeance against the sadis...,"[{'theatre': {'id': '5084', 'name': 'Alamo Dra..."
7,Come Play,2020.0,"[Horror, Thriller]",A mysterious creature uses a lonely boy's elec...,"[{'theatre': {'id': '5084', 'name': 'Alamo Dra..."
8,The Lost Boys,1987.0,"[Horror, Comedy]",A woman (Dianne Wiest) and her sons (Jason Pat...,"[{'theatre': {'id': '5084', 'name': 'Alamo Dra..."
9,The Goonies,1985.0,"[Adventure, Comedy, Children]","Oregon kids (Sean Astin, Josh Brolin, Jeff Coh...","[{'theatre': {'id': '5084', 'name': 'Alamo Dra..."
10,Beetlejuice,1988.0,[Comedy],Ghoul (Michael Keaton) helps dead couple (Alec...,"[{'theatre': {'id': '5084', 'name': 'Alamo Dra..."
11,Psycho,1960.0,"[Horror, Thriller]",A woman (Janet Leigh) stops at a motel run by ...,"[{'theatre': {'id': '5084', 'name': 'Alamo Dra..."
12,Synchronic,2019.0,"[Science fiction, Thriller]",A paramedic encounters a psychedelic drug that...,"[{'theatre': {'id': '5084', 'name': 'Alamo Dra..."
13,Honest Thief,2020.0,"[Action, Thriller]",A professional bank robber goes on the run to ...,"[{'theatre': {'id': '5320', 'name': 'AMC Barto..."
14,Yellow Rose,2019.0,"[Drama, Music, Country]",A teen must decide whether to stay with her fa...,"[{'theatre': {'id': '5320', 'name': 'AMC Barto..."
15,The Nightmare Before Christmas,1993.0,"[Fantasy, Comedy, Animated, Children, Holiday]",The Pumpkin King of Halloweentown plans to kid...,"[{'theatre': {'id': '5320', 'name': 'AMC Barto..."
16,"Monsters, Inc.",2001.0,"[Comedy, Fantasy, Adventure, Animated, Children]",A blue behemoth (John Goodman) and his one-eye...,"[{'theatre': {'id': '5320', 'name': 'AMC Barto..."
17,The Empty Man,2020.0,"[Horror, Thriller]",A retired cop links mysterious disappearances ...,"[{'theatre': {'id': '5320', 'name': 'AMC Barto..."
18,The Boss Baby,2017.0,"[Comedy, Adventure, Animated, Children]",A wildly imaginative boy discovers that his ne...,"[{'theatre': {'id': '5320', 'name': 'AMC Barto..."
19,The Kid Detective,2020.0,[Dark comedy],A down-and-out detective teams up with a teena...,"[{'theatre': {'id': '5320', 'name': 'AMC Barto..."
20,Alita: Battle Angel,2019.0,"[Science fiction, Action, Adventure, Fantasy, ...",A cyborg combats deadly forces while trying to...,"[{'theatre': {'id': '5320', 'name': 'AMC Barto..."
21,Honest Thief: The IMAX 2D Experience,2020.0,"[Action, Thriller]",A professional bank robber goes on the run to ...,"[{'theatre': {'id': '5320', 'name': 'AMC Barto..."
22,The War With Grandpa,2020.0,[Comedy],A scheming boy devises a series of outrageous ...,"[{'theatre': {'id': '5320', 'name': 'AMC Barto..."
23,Kajillionaire,2020.0,[Comedy drama],A family of con artists encounter a stranger w...,"[{'theatre': {'id': '5320', 'name': 'AMC Barto..."
24,2 Hearts,2020.0,"[Romance, Drama]",A college student falls in love with a classma...,"[{'theatre': {'id': '5320', 'name': 'AMC Barto..."
25,No Films Showing Today,NaN,NaN,NaN,"[{'theatre': {'id': '8298', 'name': 'Regal Wes..."

In [109]:
df3

,title,genres,channels
0,Once Upon a Time... In Hollywood,"[Comedy drama, Dark comedy]",[581]
1,Freedom Writers,[Drama],[050]
2,Freedom Writers,[Drama],[117]
3,The American President,"[Romance, Comedy drama]",[605]
4,Total Recall,"[Science fiction, Action, Adventure]",[603]
...,...,...,...
419,Transporter 3,[Action],[083]
420,Transporter 3,[Action],[632]
421,Texas Chainsaw Massacre: The Next Generation,[Horror],[596]
422,Crimson Peak,"[Horror, Mystery, Romance]",[535]
423,La cara oculta,[Thriller],[585]

In [110]:
df3['genres'] = [', '.join(map(str, l)) for l in df3['genres']]

In [113]:
df1=df1.dropna(subset=["genres"])

In [114]:
df1['genres'] = [', '.join(map(str, l)) for l in df1['genres']]

C:\Users\Jyoti\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [115]:
df3

,title,genres,channels
0,Once Upon a Time... In Hollywood,"Comedy drama, Dark comedy",[581]
1,Freedom Writers,Drama,[050]
2,Freedom Writers,Drama,[117]
3,The American President,"Romance, Comedy drama",[605]
4,Total Recall,"Science fiction, Action, Adventure",[603]
...,...,...,...
419,Transporter 3,Action,[083]
420,Transporter 3,Action,[632]
421,Texas Chainsaw Massacre: The Next Generation,Horror,[596]
422,Crimson Peak,"Horror, Mystery, Romance",[535]
423,La cara oculta,Thriller,[585]

In [116]:
df1

,title,releaseYear,genres,shortDescription,showtimes
0,Turtle Odyssey,2018.0,Documentary,The unique life cycle of an Australian green s...,"[{'theatre': {'id': '4604', 'name': 'Bullock M..."
1,Into America's Wild,2020.0,Documentary,Filmmaker Greg MacGillivray explores some of t...,"[{'theatre': {'id': '4604', 'name': 'Bullock M..."
2,Tenet,2020.0,"Action, Science fiction, Thriller","A secret agent embarks on a dangerous, time-be...","[{'theatre': {'id': '5084', 'name': 'Alamo Dra..."
3,Shrek,2001.0,"Comedy, Fantasy, Animated, Children",A monster (Mike Myers) and a donkey (Eddie Mur...,"[{'theatre': {'id': '5084', 'name': 'Alamo Dra..."
4,A Nightmare on Elm Street,1984.0,Horror,"Freddy Krueger, a badly burned boogeyman with ...","[{'theatre': {'id': '5084', 'name': 'Alamo Dra..."
5,Hocus Pocus,1993.0,"Comedy, Children",Trick-or-treaters meet three witch sisters (Be...,"[{'theatre': {'id': '5084', 'name': 'Alamo Dra..."
6,Mandy,2018.0,"Horror, Thriller",A man seeks bloody vengeance against the sadis...,"[{'theatre': {'id': '5084', 'name': 'Alamo Dra..."
7,Come Play,2020.0,"Horror, Thriller",A mysterious creature uses a lonely boy's elec...,"[{'theatre': {'id': '5084', 'name': 'Alamo Dra..."
8,The Lost Boys,1987.0,"Horror, Comedy",A woman (Dianne Wiest) and her sons (Jason Pat...,"[{'theatre': {'id': '5084', 'name': 'Alamo Dra..."
9,The Goonies,1985.0,"Adventure, Comedy, Children","Oregon kids (Sean Astin, Josh Brolin, Jeff Coh...","[{'theatre': {'id': '5084', 'name': 'Alamo Dra..."
10,Beetlejuice,1988.0,Comedy,Ghoul (Michael Keaton) helps dead couple (Alec...,"[{'theatre': {'id': '5084', 'name': 'Alamo Dra..."
11,Psycho,1960.0,"Horror, Thriller",A woman (Janet Leigh) stops at a motel run by ...,"[{'theatre': {'id': '5084', 'name': 'Alamo Dra..."
12,Synchronic,2019.0,"Science fiction, Thriller",A paramedic encounters a psychedelic drug that...,"[{'theatre': {'id': '5084', 'name': 'Alamo Dra..."
13,Honest Thief,2020.0,"Action, Thriller",A professional bank robber goes on the run to ...,"[{'theatre': {'id': '5320', 'name': 'AMC Barto..."
14,Yellow Rose,2019.0,"Drama, Music, Country",A teen must decide whether to stay with her fa...,"[{'theatre': {'id': '5320', 'name': 'AMC Barto..."
15,The Nightmare Before Christmas,1993.0,"Fantasy, Comedy, Animated, Children, Holiday",The Pumpkin King of Halloweentown plans to kid...,"[{'theatre': {'id': '5320', 'name': 'AMC Barto..."
16,"Monsters, Inc.",2001.0,"Comedy, Fantasy, Adventure, Animated, Children",A blue behemoth (John Goodman) and his one-eye...,"[{'theatre': {'id': '5320', 'name': 'AMC Barto..."
17,The Empty Man,2020.0,"Horror, Thriller",A retired cop links mysterious disappearances ...,"[{'theatre': {'id': '5320', 'name': 'AMC Barto..."
18,The Boss Baby,2017.0,"Comedy, Adventure, Animated, Children",A wildly imaginative boy discovers that his ne...,"[{'theatre': {'id': '5320', 'name': 'AMC Barto..."
19,The Kid Detective,2020.0,Dark comedy,A down-and-out detective teams up with a teena...,"[{'theatre': {'id': '5320', 'name': 'AMC Barto..."
20,Alita: Battle Angel,2019.0,"Science fiction, Action, Adventure, Fantasy, A...",A cyborg combats deadly forces while trying to...,"[{'theatre': {'id': '5320', 'name': 'AMC Barto..."
21,Honest Thief: The IMAX 2D Experience,2020.0,"Action, Thriller",A professional bank robber goes on the run to ...,"[{'theatre': {'id': '5320', 'name': 'AMC Barto..."
22,The War With Grandpa,2020.0,Comedy,A scheming boy devises a series of outrageous ...,"[{'theatre': {'id': '5320', 'name': 'AMC Barto..."
23,Kajillionaire,2020.0,Comedy drama,A family of con artists encounter a stranger w...,"[{'theatre': {'id': '5320', 'name': 'AMC Barto..."
24,2 Hearts,2020.0,"Romance, Drama",A college student falls in love with a classma...,"[{'theatre': {'id': '5320', 'name': 'AMC Barto..."

In [118]:
mergeMoivesData=pd.merge(df1,df3,on='genres')

In [119]:
mergeMoivesData

,title_x,releaseYear,genres,shortDescription,showtimes,title_y,channels
0,Turtle Odyssey,2018.0,Documentary,The unique life cycle of an Australian green s...,"[{'theatre': {'id': '4604', 'name': 'Bullock M...",Robin Williams: Come Inside My Mind,[523]
1,Turtle Odyssey,2018.0,Documentary,The unique life cycle of an Australian green s...,"[{'theatre': {'id': '4604', 'name': 'Bullock M...","Beats, Rhymes & Life: The Travels of A Tribe C...",[604]
2,Turtle Odyssey,2018.0,Documentary,The unique life cycle of an Australian green s...,"[{'theatre': {'id': '4604', 'name': 'Bullock M...",Hoop Dreams,[532]
3,Turtle Odyssey,2018.0,Documentary,The unique life cycle of an Australian green s...,"[{'theatre': {'id': '4604', 'name': 'Bullock M...",The King of Kong: A Fistful of Quarters,[620]
4,Into America's Wild,2020.0,Documentary,Filmmaker Greg MacGillivray explores some of t...,"[{'theatre': {'id': '4604', 'name': 'Bullock M...",Robin Williams: Come Inside My Mind,[523]
...,...,...,...,...,...,...,...
190,Kajillionaire,2020.0,Comedy drama,A family of con artists encounter a stranger w...,"[{'theatre': {'id': '5320', 'name': 'AMC Barto...",The Truman Show,[623]
191,Kajillionaire,2020.0,Comedy drama,A family of con artists encounter a stranger w...,"[{'theatre': {'id': '5320', 'name': 'AMC Barto...",The Descendants,[519]
192,2 Hearts,2020.0,"Romance, Drama",A college student falls in love with a classma...,"[{'theatre': {'id': '5320', 'name': 'AMC Barto...",Love Love Love,[1539]
193,2 Hearts,2020.0,"Romance, Drama",A college student falls in love with a classma...,"[{'theatre': {'id': '5320', 'name': 'AMC Barto...",The Notebook,[585]
194,2 Hearts,2020.0,"Romance, Drama",A college student falls in love with a classma...,"[{'theatre': {'id': '5320', 'name': 'AMC Barto...",A Boy. A Girl. A Dream.,[604]

In [120]:
###TopFive Counts 

mergeMoivesData['genres'].value_counts()

Comedy                                          62
Horror, Thriller                                60
Horror                                          28
Action, Thriller                                14
Comedy drama                                     9
Documentary                                      8
Comedy, Adventure, Animated, Children            4
Romance, Drama                                   3
Comedy, Children                                 2
Fantasy, Comedy, Animated, Children, Holiday     2
Horror, Comedy                                   1
Adventure, Comedy, Children                      1
Dark comedy                                      1
Name: genres, dtype: int64

In [ ]:
######TopValue count of Genres Movies

# Comedy                                          62
# Horror, Thriller                                60
# Horror                                          28
# Action, Thriller                                14
# Comedy drama                                     9